---
timestamp: '{{timestamp}}'
region: '{{region}}'
deployment: '{{deployment}}'
infrastructure_stack: '{{infrastructure_stack}}'
infrastructure_template: '{{infrastructure_template}}'
kerberos_stack: '{{kerberos_stack}}'
kerberos_template: '{{kerberos_template}}'
cloudera_stack: '{{cloudera_stack}}'
cloudera_template: '{{cloudera_template}}'
harmony_stack: '{{harmony_stack}}'
harmony_template: '{{harmony_template}}'
ssh_key_name: '{{ssh_key_name}}'
ssh_key_bucket: '{{ssh_key_bucket}}'
ssh_private_key_file: '{{ssh_private_key_file}}'
ssh_private_key_path: '{{ssh_private_key_path}}'
ssh_private_key_url: '{{ssh_private_key_url|default("")}}'
